body {

     background: gray;
     color: lightgoldenrodyellow;
     font-family: "Agdasima", sans-serif;
}

header {
    text-align: center;
    font-size: 50px;
    border-bottom: solid 3px black;
}
.inicio{
    display: flex;
    background-color: rgb(80, 78, 78);
    padding-bottom: 80px;
    padding-top: 70px;
    margin-top: 20px;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;

}
img {
    width: 150px;
    height: 200px;
    opacity: 0.8;
}
h2 {


}
.recomenda{
display: flex;
overflow-x: auto;
gap: 16px ;
}
img:hover{
    opacity: 1.0;
    border: solid 3px black;
}